@import './base.css';

.scroll {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.scroll::-webkit-scrollbar{
  display:none;
}

/* 4.8rem */
.scroll-h {
  height: calc(100vh - 5.8rem);
}
